<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
	<head th:fragment="head(title, links, scripts, description)">
    	<meta charset="utf-8">
    	<title th:replace="${title}"></title>
    	<meta name="description" th:content="${description}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
		<link rel="stylesheet" th:href="@{/css/layout.css}" />
		<th:block th:replace="${links}">
		<th:block th:replace="${scripts}">
	</head>
	<body class="">
	<header th:fragment="header">
		<nav class="uk-navbar-container" uk-navbar>
			<div class="uk-navbar-left">
				<ul class="uk-navbar-nav">
					<li class="uk-logo uk-active"><a href="/">Project Titan</a></li>
					<li><a href="#">Games</a></li>
				</ul>
			</div>

			<div class="uk-navbar-right">
				
				
				<ul class="uk-navbar-nav">
					<li><a sec:authorize="isAnonymous()" class="login-icon" th:href="@{/login}" ><span uk-icon="sign-in"></span> Log In</a></li>
					<li sec:authorize="isAuthenticated()"><a href="#" sec:authentication="name"></a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a class="dropdown-item" sec:authorize="hasAnyRole('SUPERADMIN', 'ADMIN')" th:href="@{/admin/users}">Administration</a></li>
								<li><a class="dropdown-item" th:href="@{/profil}">Mon Profil</a></li>
								<li><a class="dropdown-item" th:href="@{/logout}">Déconnexion <span uk-icon="sign-out"></span></a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<footer th:fragment="">
		<nav class="uk-navbar-container footer" uk-navbar>
			<div>
				<p class="title-footer">Rejoignez nous sur :</p>
				<ul class="list-social-icons">
					<li><a href="#"><span class="social-icon" uk-icon="icon: facebook; ratio: 1.5"></span></a></li>
					<li><a href="#"><span class="social-icon" uk-icon="icon: twitter; ratio: 1.5"></span> </a></li>
					<li><a href="#"><span class="social-icon" uk-icon="icon: instagram; ratio: 1.5"></span> </a></li>
					<li><a href="#"><span class="social-icon" uk-icon="icon: youtube; ratio: 1.5"></span> </a></li>
					<li><a href="#"><span class="social-icon" uk-icon="icon: linkedin; ratio: 1.5"></span> </a></li>
					
				</ul>
			</div>
			<div>
			
			</div>
			<div>
			
			</div>
		</nav>
	</footer>
	</body>
	<div th:fragment="scripts">
		<!-- UIkit JS -->
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
	</div>

</html>