<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
	<head th:fragment="head(title, links, scripts, description)">
    	<meta charset="utf-8">
    	<title th:replace="${title}"></title>
    	<meta name="description" th:content="${description}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
		<th:block th:replace="${links}">
		<th:block th:replace="${scripts}">
	</head>
	<body class="">
	<header th:fragment="top">
		<nav class="uk-navbar-container" uk-navbar>
			<div class="uk-navbar-left">
				<ul class="uk-navbar-nav">
					<li class="uk-active"><a href="/">Supreme Otter</a></li>
					<li><a href="#">Games</a></li>
				</ul>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li><a href="#">Admin</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="/admin/games">Games</a></li>
								<li><a href="/admin/platforms">Platforms</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<footer th:fragment="">
		
		</footer>
	</body>
	<div th:fragment="scripts">
		<!-- UIkit JS -->
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
	</div>

</html>