<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
	<head th:replace="fragment/layout.html :: head(~{::title},~{::link},~{},~{::description})">
		<title>Project Titan | Home</title>
		<link rel="stylesheet" th:href="@{/css/index.css}" />
		<meta name="description" content="">
	</head>
	<body class="">
		<header th:replace="fragment/layout.html :: header"></header>
		<main class="">
			<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">
			
			    <ul  class="uk-slideshow-items ">
			        <li th:each="game, iter : ${mainGames}" th:id="|p${iter.index}|" class="">
			            <iframe th:src="${game.video}" width="1920" height="1080" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen uk-cover></iframe>
			            <div class="uk-position-large uk-position-bottom-left uk-overlay uk-overlay-primary">
			            	<img th:if="${game.logo}" th:src="${game.logo}" width=400px class="uk-align-center">
			            	<h2 th:unless="${game.logo}" th:text="${game.title}"> </h2>
			            	<p th:text="${game.subtitle}" class="subtitle"></p>
			            	<p th:text="${game.releaseDate.before(#dates.createNow())}? |Disponible depuis le ${#dates.format(game.releaseDate,'dd MM yyyy')}| : |Disponible le ${#dates.format(game.releaseDate,'dd MM yyyy')}|"></p>
			            	<div class="uk-flex">
			            		<button class="uk-button uk-button-default uk-margin-right">Visiter la page</button>
    							<button th:text="${game.releaseDate.before(#dates.createNow())}? 'Acheter':'Precommander'" class="uk-button uk-button-primary"></button>
			            	</div>
			            </div>
			        </li>
			    </ul>
			
			    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
			    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
			
			</div>
			<h2 class="uk-heading-line uk-text-center"><span>Dernières Nouvelles & Actualités</span></h2>
			
			<div class="">
				<div uk-filter="target: .js-filter">
				    <ul class="uk-flex uk-flex-center">
				    	<li uk-filter-control><a class="uk-active uk-margin-right uk-button uk-button-text" href="#">Tout</a></li>
				        <li uk-filter-control=".PROJECT_TITAN"><a class="uk-margin-right uk-button uk-button-text" href="#">Supreme Otter</a></li>
				        <li uk-filter-control=".blobfish"><a class="uk-margin-right uk-button uk-button-text" href="#">Blobfish for Breakfast</a></li>
				        <li uk-filter-control=".hitlama"><a class="uk-margin-right uk-button uk-button-text" href="#">Hitlama</a></li>
				    </ul>
				
				    <ul class="js-filter uk-align-center articles">
				        <li th:each="article : ${articles}" class="" th:class="${article.category}">
							<div class="uk-card uk-card-default ">
					        	<div class="uk-card-badge uk-label">New</div>
					            <div class="uk-card-media-top">
					                <img th:src="${article.banner}" alt="">
					            </div>
					            <div class="uk-card-body">
					                <h3 class="uk-card-title" th:text="${article.title}">Media Top</h3>
					                <p th:text="${article.content}" class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					           		<p class="uk-text-meta uk-margin-remove-top"><time th:datetime="${article.releaseDate}"></time></p>
					            </div>
					            <div class="uk-card-footer">
							        <a th:href="@{|/article/${article.id}|}"class="uk-button uk-button-text">En savoirs plus ...</a>
							    </div>
					        </div>
				        </li>
				    </ul>
				</div>
			</div>
			
			   
			<h2 class="uk-heading-line uk-text-center"><span>Communauté</span></h2>
		</main>
		<footer th:replace="fragment/layout.html :: footer">
		
		</footer>
	</body>
	<div th:replace="fragment/layout.html :: scripts"></div>
</html>