<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
	<head th:replace="fragment/layout.html :: head(~{::title},~{},~{},~{::description})">
		<title>Project Titan | Home</title>
		<meta name="description" content="">
	</head>
	<body class="">
		<header th:replace="fragment/layout.html :: header"></header>
		<main class="">
		<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

    <ul class="uk-slideshow-items">
        <li>
            <iframe src="https://www.youtube.com/embed/UjzErwYntFs" width="1920" height="1080" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen uk-cover></iframe>
        </li>
        <li>
            <iframe src="https://www.youtube.com/embed/kopoLzvh5jY" width="1920" height="1080" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen uk-cover></iframe>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>
		</main>
		<footer>
		
		</footer>
	</body>
	<div th:replace="fragment/layout.html :: scripts"></div>
</html>