
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
	<head th:replace="fragment/adminLayout.html :: head(~{::title})">
		<title>Supreme Otter | Connection</title>
	</head>
	<body class="">
		<header th:replace="fragment/layout.html :: top"></header>
		<div class="uk-container uk-margin uk-card uk-card-default uk-card-body uk-width-1-3">
			<h2 class="uk-card-title uk-text-center">Connection</h2>
			<div th:replace="fragment/adminLayout.html :: message"> </div>
			<p>Se connecter ou S'inscrire </p>
			<div class="">
				<form th:action="@{/login}" method="post">
					<div class="">
						<label class="uk-form-label">Nom d'utilisateur</label>
						<input type="text"class="uk-input uk-form-large uk-width" placeholder="SupremeOtter" name="username">
					</div>
					<div class="uk-margin">
						<label class="uk-form-label">Mot de passe </label>
						<input type="password" class="uk-input uk-form-large uk-width" placeholder="****************" name="password">
					</div>
					<div class="uk-margin uk-margin-auto-left uk-text-right">
						<button type="submit" class= "uk-button uk-button-primary">Se connecter</button>
						<a href="/logout" class="uk-button uk-button-danger">Retour</a>
					</div>
				</form>
			</div>
		</div>

	</body>
	<div th:replace="fragment/layout.html :: scripts"></div>
</html>